<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

    <bean id ="streamWriter" class="com.example.session.core.StreamWriter"/>
    <bean id ="fileWriter" class="com.example.session.core.FileWriter"/>

    <bean id ="helloWorldStreamWriter" class ="com.example.session.core.HelloWorldGreeter">
        <property name ="writer" ref="streamWriter"/>
    </bean>

    <bean id ="helloWorldFileWriter" class ="com.example.session.core.HelloWorldGreeter">
        <property name ="writer" ref="fileWriter"/>
    </bean>

</beans>